:root {
  --chat-bg: #ddd;
  --anouncement-color: #b34700;
  --correct-color: #008000;
  --spectator-color: #daa520;
}

#chat, #score {
  align-items: center;
  border: 2px solid #4301f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

#chatbox {
  background: var(--chat-bg);
  height: 450px;
  margin: 10px 0;
  overflow-y: scroll;
  padding: 5px 10px;
  width: 300px;
}

#container {
  display: flex;
  justify-content: space-evenly;
}

#room-container {
  display: flex;
  justify-content: space-evenly;
  width: 1080px;
}

#score-box {
  background: var(--chat-bg);
  height: 450px;
  margin: 10px 0;
  padding: 5px 10px;
  width: 300px;
}

.message-anouncement {
  color: var(--anouncement-color);
}

.message-correct {
  color: var(--correct-color);
}

.message-spectator {
  color: var(--spectator-color);
}

.username {
  font-weight: bold;
}

h1{
  font-family: 'Bungee Shade', cursive;
  color: #f9bf01;
  font-size: 48px;
  text-align:center;
}

h2{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 16px;
}

h3{
  font-family: 'Quicksand', sans-serif;
  color: #4301f9;
  text-align: center;
}

h4{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 12px;
}

button {
  background-color: #01b7f9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 8px;
}

button:hover {
  background-color: white;
  border: 2px solid #01b7f9;
  color: #01b7f9;
}

#body{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

form, #chat-input{
  display:flex;
  flex-direction:column;
  align-items: center;
}

ul{
  list-style-type: none; 
  font-family: 'Quicksand', sans-serif;
}

#square {
  width: 640px;
  height: 400px;
  background: #678AFE;
  position: absolute;
  top: 120px;
  border-radius: 3px;
}
